

/*#region basic */
body {
  padding: 40px 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input,
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
  transition: border-color 250ms ease-in-out;
  outline: #808080;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

textarea {
  resize: none;
  height: 80px;
}

input:hover,
textarea:hover {
  border-color: #000;
}

input::placeholder,
textarea::placeholder {
  color: #2e2f42;
}

.tasks {
  display: flex;
  gap: 8px;
}

.home-link,
.task-link,
button{
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out;
  /* box-shadow:  2px 2px rgba(0, 0, 0, 20%) 10%; */
  border: none;
}

.home-link:hover,
.task-link:hover,
.home-link:focus,
.task-link:focus{
  background-color: #6c8cff;
  outline: none;
  cursor: pointer;
}



/*#endregion basic */


/*#region timer */

.calendar-container{
  display: flex;
  gap: 15px;
}

button[data-start='inactive']{
  background-color: #808080;
}

button[data-start='active']{
  background-color: #4e75ff;
}
button[data-start='active']:hover, 
button[data-start='active']:focus{
  background-color: #6c8cff;
  outline: none;
  cursor: pointer;
}

.timer{
  display: flex;
  gap: 20px;
}

.timer .value{
  font-size: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*#endregion timer */


